<nav class="navbar navbar-inverse text-align">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
      <li><a routerLinkActive="active" routerLink="home">Home</a></li>
      <li><a routerLinkActive="active" routerLink="state-wise-search">State-Wise Report</a></li>
      <li><a  routerLinkActive="active" routerLink="faq">Helpline</a></li>
      <li><a routerLinkActive="active" routerLink="about-me">About Me</a></li>

      
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li style="color: white;">
        with ♥ @pranavsinha17
       </li>
    </ul>
      
   </div>
</nav>
<router-outlet></router-outlet>